@import "mixins";

/* GLOBAL STYLES */
html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
html,
button,
input,
select,
textarea {
	color: #000;
}
body {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 0;
	font-size: 14px;
	line-height: 1.4;
	font-family: 'Sans Light', 'Assistant', 'helvetica-neue', 'arial', sans-serif;
	background: #fdfdfd;
}
::selection {
	background: #e44d26;
	text-shadow: none;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	background: #e44d26;
	background-color: #e44d26;
	color: #e44d26;
	margin: 2em 0;
	padding: 0;
}
textarea {
	resize: vertical;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	text-transform: uppercase;
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 16px;
}


.headline {
	margin: 2em 0 0;
	border-bottom: 1px solid #ddd;
}

.headline span {
	display: inline-block;
	border-bottom: 3px solid #e44d26;
	padding-bottom: 7px;
	margin-bottom: -1px;
}

.header-container,
.main-container,
.footer-container {
	width: 80%;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.header-container,
	.main-container,
	.footer-container {
		width: 90%;
	}
}

.container {
	display: flex;
	margin: 0 auto;
}

@media screen and (max-width: 768px) {
	.container {
		flex-wrap: wrap;
	}
}

@media screen and (max-width: 480px) {
	.container {
		flex-wrap: wrap;
	}
}

.container.header-container {
	align-items: flex-end
}

p {
	font-size: 16px;
	line-height: 26px;
}

.dark,
.odd {
	background: rgba(0, 0, 0, 0.4);
	color: #fff;
}

.odd a {
	color: #fff;
}

.even {
	background: rgba(0, 0, 0, 0.1);
}

.-text-center {
	text-align: center;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
	display: block;
}

.main aside p a {
	color: #e44d26;
}

.main a {
	color: #e44d26;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #e44d26;
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

html body .nav a.active {
	color: #e44d26;
	border-bottom: 1px solid #e44d26;
}

abbr[title] {
	border-bottom: 1px dotted;
}

q:before,
q:after {
	content: "";
	content: none;
}

small {
	font-size: 85%;
}

input,
textarea {
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.header {
	width: 100%;
	border-bottom: 1px solid #ccc;
	background: #f8f8f8;

	nav {
		width: 40%;
		margin-left: auto;

		@include between(0, $screen-medium) {
			width: 100%;
		}

		ul {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: justify;
			-ms-flex-pack: justify;
			justify-content: space-between;
			padding: 0 0;

			li {
				display: inline;

				a {
					padding-bottom: 4px;
					font-size: 18px;
					text-transform: uppercase;
					&:hover {
						color: #e44d26;
						border-bottom: 1px solid #e44d26;
						-webkit-transition: all .3s linear;
						transition: all .3s linear
					}
				}
			}
		}		
	}
	.title {
		@include between(0, $screen-medium) {
			width: 100%;
			text-align: center;
		}

		h1 {
			span {
				display: block;
				font-size: 14px;
			}
		}
	}
}

.main {
	margin: 0 auto
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow-y: auto;
	background-color: rgba(0, 0, 0, 0.5);

	a {
		display: inline-block;
		color: #fff;
		margin-top: 16px;
		padding: 0 10px;
		cursor: pointer
	}
	.img-controls {
		position: fixed;
		z-index: 1001;
		width: 100%;
		height: 50px;
		background: #000;
		color: #fff
	}

	.overlay-img {
		width: 100%;
		height: auto;
		position: absolute;
		top: 15%;
		left: auto;

		img {
			max-width: 90%;
			height: auto;
			padding-bottom: 10%;
			cursor: pointer
		}
	}
}

input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.button {
	display: inline-block;
	background-color: #e44d26;
	margin: .5em 1.5em 1em 0;
	padding: 7px 20px;
	border: none;
	-webkit-transition: all .2s linear;
	transition: all .2s linear;
	font-size: 18px;
	font-family: 'Sans Light', 'Univers-LUC', 'Six Caps', arial, sans-serif;
	color: #fff;
	cursor: pointer
}

.button span {
	display: block;
	font-size: 18px;
	line-height: 24px
}

.button:hover {
	color: #fff;
	background-color: #000
}

.nav a,
.nav a:visited {
	padding: 5px 0 5px;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	font: 'Sans Light', 'Univers-LUC', arial, sans-serif;
	text-transform: uppercase;
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out
}

.nav a:hover {
	color: #e44d26;
	text-decoration: none;
	border-bottom: 1px solid #e44d26
}

.main h2 {
	font-size: 1.5em;
	text-align: center
}

.one-third {
	width: 33%;
	padding: 30px 0;

	@include between(0, $screen-medium) {
		width: 100%;
		padding: 10px 0;
	}

	&:first-child {
		padding-right: 30px;

		@include between(0, $screen-medium) {
			padding: 10px 0;
		}
	}
	&:last-child {
		padding-left: 30px;

		@include between(0, $screen-medium) {
			padding: 10px 0;
		}
	}

	img {
		max-width: 100%;
	}
}

.one-half {
	width: 50%;
	padding: 30px;

	@include between(0, $screen-medium) {
		width: 100%;
	}

	&:first-child {
		padding-left: 0;
		padding-right: 30px;

		@include between(0, $screen-medium) {
			padding: 0 0;
		}
	}

	&:last-child {
		padding-left: 30px;
		padding-right: 0;

		@include between(0, $screen-medium) {
			padding: 0 0;
		}
	}
	img {
		max-width: 300px;
	}
}

#home {
	.hero {
		img {
			width: 100%;
			max-width: 250px;
			margin-top: 20px;
		}
	}
	.midstripe {
		position: relative;
		top: 0;
		padding: 1.5em 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background: #f8f8f8;

		h1 {
			font-size: 1.5em;
		}
	}
	.features {
		h2 {
			text-align: center;
		}

		.responsive {
			img {
				width: 100%;
				max-width: 400px;
				margin: 2em 0 0;
			}
		}
		.cms,
		.language,
		.security {
			ul {
				padding: 0 0;
				text-align: center;

				li {
					float: left;
					width: 33%;
					list-style-type: none;

					a {
						position: relative;
						width: 100px;
						height: 100px;
						padding: 0;
						background-repeat: no-repeat;
						background-size: 600px 100px;
						opacity: 1;
						display: inline-block;
						-webkit-transition: opacity .4s linear;
						transition: opacity .4s linear;

						&:hover {
							.tooltip {
								display: block;
							}
						}

						&.wp,
						&.html5,
						&.php {
							background-position: 0px 0;
							opacity: .5;

							&:hover {
								background-position: -100px 1px;
								opacity: 1;
							}
						}
						&.dpl,
						&.css3,
						&.my {
							background-position: -200px 0;
							opacity: .5;

							&:hover {
								background-position: -303px 1px;
								opacity: 1;
							}
						}
						&.jm,
						&.cf {
							background-position: -400px 0;
							opacity: .5;

							&:hover {
								background-position: -498px 1px;
								opacity: 1;
							}
						}
						&.jquery {
							background-position: -400px 0;
							opacity: .5;

							&:hover {
								background-position: -502px 1px;
								opacity: 1;
							}
						}
					}
				}
				.tooltip {
					display: none;
					position: absolute;
					z-index: 3000;
					margin: -30px auto 0 -27px;
					font-size: 16px;
					border: 1px solid #e44d26;
					background-color: #2a2a2a;
					padding: 5px;
					opacity: 0.9;
					width: 150px;
					height: auto;
					color: #fff;
					-webkit-transition: opacity 0 linear;
					-webkit-transition: opacity 0 linear h3;
					transition: opacity 0 linear h3;
					transition-text-align: center;

					h3,
					div {
						margin: 0 0;
					}
				}
			}
			
		}
		.cms {
			li {
				a {
					background-image: url("../img/cms-sprites.png");

					.tooltip {
						width: 300px;
						top: 135px;
						left: -45px;

						@include between(0, $screen-medium) {
							visibility: hidden;
						}
					}
				}
			}
		}
		.language {
			li {
				a {
					background-image: url("../img/lang-sprites.png");
				}
			}
		}
		.security {
			li {
				a {
					background-image: url("../img/security-sprites.png");
				}
			}
		}
	}
}

#about {
	.main-container {
		article {
			@include between(0, $screen-medium) {
				margin-bottom: 2em;
			}

			.headline {
				@include between(0, $screen-medium) {
					margin-bottom: 1em;
				}
			}
			.more-me {
				.one-third {
					&:nth-child(2) {
						@include between(0, $screen-medium) {
							width: 65%;
							margin: 20px auto;
						}
					}
				}
			}
			a {
				text-decoration: underline;
			}
			p {
				@include between(0, $screen-medium) {
					margin: 0 0;
				}
			}
		}
	}

	img {
		width: 100%;
		max-width: 300px;
		margin-top: 20px;
	}
}

#portfolio {
	.portfolio {
		margin: 3em 0 3em;

		.item-wrap {
			padding: 30px;
			overflow: hidden;
		}

		&.-web {
			.container {
				flex-wrap: wrap;

				.portfolio-item {
					&:nth-child(3) {
						@include between(0, $screen-medium) {
							background: rgba(0, 0, 0, 0.1);
							color: #000;

							a {
								color: black;
							}
						}
					}

					:nth-child(4) {
						@include between(0, $screen-medium) {
							background: rgba(0, 0, 0, 0.4);
							color: #fff;
						}
					}

					&.one-half {
						padding: 0 0;
					}
					.portfolio-ss {
						width: 100%;
						max-width: 300px;
						height: auto;
						max-height: 259px;
						margin: 1em 0 0;

						@include between(0, $screen-medium) {
							max-width: 250px;
							margin: 0 auto;
						}
					}
				}
			}
		}
		&.-logos {
			.portfolio-logo-wrap {
				display: table;
				margin: 0 auto;

				.logo-thumb {
					display: table-cell;
					width: auto;
					height: 150px;
					vertical-align: middle;

					&:hover {
						opacity: 1;
						cursor: pointer;
					}

					img {
						width: 100%;
						height: auto;

						&.tsi {
							max-width: 400px;
						}
						&.llcc {
							max-width: 350px;
						}
					}
				}
			}
		}
		&.-print {
			.thumbnail {
				display: inline-block;
				max-width: 150px;
				height: auto;
				background: #f7f7f7;
				opacity: 0.5;
				border: 1px solid #e44d26;
				-webkit-transition: all .3s linear;
				transition: all .3s linear;
				line-height: 0;

				&:hover {
					opacity: 1;
					cursor: pointer;
				}

				img {
					width: 100%;
					height: auto;
				}
			}
		}
	}
}

#contact {
	#contact-form {
		margin: 0 0 2em;

		.form-field {
			margin: 2em 0;

			label {
				display: block;
				margin-bottom: 10px;
			}
			input,
			textarea {
				width: 75%;
				padding: 5px 7px 5px 7px;
				font-size: 16px;
				font-family: 'Sans Light', 'Univers-LUC', 'Six Caps', arial, sans-serif;
				background: #fdfdfd;
				border-top: 1px solid #ccc;
				border-right: none;
				border-bottom: 1px solid #ccc;
				border-left: none;

				&[type="submit"] {
					border: 0;
					color: #fff;
				}

				&:focus {
					-webkit-box-shadow: none;
					box-shadow: none;
					outline: none;
					border-top: 1px solid #e44d26;
					border-right: none;
					border-bottom: 1px solid #e44d26;
					border-left: none
				}

				&.error {
					border-top: 1px solid #e44d26;
					border-bottom: 1px solid #e44d26
				}
			}
			textarea {
				height: 100px;
			}
			.helper {
				margin: 7px 0 1em 0;
				font-size: 13px;
				color: #e44d26;
			}
		}
	}
}

footer {
	position: relative;
	padding: 20px 0;
	top: -1px;
	background: #f8f8f8;
	border-top: 1px solid #ccc;
	font-size: 14px;
	text-transform: uppercase;

	.footer-container {
		justify-content: flex-end;

		@include between(0, $screen-medium) {
			justify-content: center;
		}
	}
}